#wrapper {
	width: 900px;
	margin: 15px auto;
}

li {
	list-style-type: none;
	display: inline;
}

#coin_box div {
	height: 175px;
	width: 175px;
	margin: 10px;
	display: inline-block;
}

img {
	height: 175px;
	width: 175px;
	margin: 10px;
	border-radius: 100px;
}